nav {
    background-color: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    backdrop-filter: blur(6px);
    border-bottom: 1px solid rgba(256,256,256,0.2);
}

nav > ul {
    margin: 0;
    padding: 0;
    width: 960px;
    display: flex;
    justify-content: flex-start;
}

nav > ul > li {
    display: inline-block;
    margin:0px;
    padding:0px;
    position: relative;
}

nav > ul > li > a {
    display: inline-block;
    text-decoration: none;
    color: #ccc;
    padding: 20px;
    font-size: 1.2;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
}

nav > ul > li > a:hover{
    background-color: rgba(256,256,256,0.3);
}

nav > ul > li:nth-child(3){
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
}

nav > ul > li:nth-child(3) > input{
    background-color: rgba(255,255,255,0.1);
    width: 50%;
    transition: background-color 500ms ease;
}

nav > ul > li:nth-child(3) > button{
    content: "";
    width: 24px;
    height: 24px;
    position: absolute;
    right: 5px;
    background-image: url(../img/search_white_24dp.svg);
    background-color: transparent;
    padding: 0;
}

nav > ul > li:last-child{
    margin-left: auto;
}

main {
    width: 960px;
    margin: 80px auto 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 0 0 50px 0;
}

main section{
    background-color: rgba(0,0,0,0.4);
    padding: 20px;
    position: relative;
}

main section h3{
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
}

main div {
    margin-top: 5px;
}

main div a{
    text-decoration: none;
    color: rgb(60, 0, 200);
    font-size: 0.8rem;
    display: block;
    font-style: italic;
}

main section ul {
    margin: 10px 0 50px 0;
    padding: 0;
}

main section ul li{
    list-style: none;
    display: block;
}

main section ul li a {
    display: block;
    padding: 10px;
    color: #ccc;
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: normal;
    border-bottom: 1px solid #333;
    text-align: right;
}

main section ul li a:hover{
    background-color:  #333;
}

main section > a{
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    background-color: rgb(60, 0, 200);
    padding: 5px 10px;
    font-size: 0.8rem;
    position: absolute;
    bottom: 20px;
    right: 20px;
    border-radius: 2px;
}

#modal {
    position: fixed;
    top:0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.4);
    backdrop-filter: blur(6px);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    opacity: 0;
    transition: opacity 3s linear;
}

#modal form {
    background-color: rgba(0,0,0,0.4);
    padding: 40px;
    box-shadow: 0 0 2px inset rgba(256,256,256,0.3);
    width: 400px;
}

#modal form input{
    display: block;
    width: 100%;
}

#modal form div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#modal form div input {
    display: inline-block;
    margin-right: 10px;
}

#modal form div a.remove{
    color: #C00;
}

#modal form div a.remove:hover{
    color: rgb(252, 7, 7);
}

#modal form .controles{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 0;
}